:root {
    /* Colors */
    --clr-white: hsl(0, 0%, 100%);
    --clr-slate-300: hsl(212, 45%, 89%);
    --clr-slate-500: hsl(216, 15%, 48%);
    --clr-slate-900: hsl(218, 44%, 22%);

    /* Typography */
    --ff-outfit: "Outfit", sans-serif;
    --font-size-para: 0.9375rem;
    /* 15px */
    --font-size-heading: 1.375rem;
    /* 22px */
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Spacing */
    --space-500: 2.5rem;
    --space-300: 1.5rem;
    --space-200: 1rem;
    --letter-space-para: 0.2px;

    --border-radius: 1.25rem;
}

/* Utility classes for text */
.text-heading {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-heading);
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: var(--space-200);
    color: var(--clr-slate-900);
}

.text-para {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-para);
    line-height: 1.4;
    letter-spacing: var(--letter-space-para);
    color: var(--clr-slate-500);
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--ff-outfit);
    background-color: var(--clr-slate-300);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 20rem;
    background-color: var(--clr-white);
    text-align: center;
    padding: var(--space-200);
    padding-bottom: var(--space-500);
    border-radius: var(--border-radius);
}

.card img {
    border-radius: var(--border-radius);
}

.card .text {
    padding-inline: var(--space-200);
    margin-top: var(--space-300);
}